## Задание №1

*Проанализируйте результаты эксперимента и напишите свои рекомендации менеджеру.*

*Mobile Games AB Testing with Cookie Cats*

*Данные:
https://www.kaggle.com/code/mursideyarkin/mobile-games-ab-testing-with-cookie-cats/input*

In [26]:
import pandas as pd  
import numpy as np
from scipy import stats
  
df = pd.read_csv('data.csv')

In [27]:
df.head()

   userid  version  sum_gamerounds  retention_1  retention_7
0     116  gate_30               3            0            0
1     337  gate_30              38            1            0
2     377  gate_40             165            1            0
3     483  gate_40               1            0            0
4     488  gate_40             179            1            1

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90189 entries, 0 to 90188
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   userid          90189 non-null  int64
 1   version         90189 non-null  object
 2   sum_gamerounds  90189 non-null  int64
 3   retention_1     90189 non-null  int64
 4   retention_7     90189 non-null  int64
dtypes: int64(4), object(1)
memory usage: 3.4+ MB

In [29]:
df.describe()

             userid  sum_gamerounds   retention_1   retention_7
count  9.018900e+04    90189.000000  90189.000000  90189.000000
mean   4.998412e+06       51.872457      0.445210      0.186065
std    2.883286e+06      195.050858      0.496992      0.389161
min    1.160000e+02        0.000000      0.000000      0.000000
25%    2.512230e+06        5.000000      0.000000      0.000000
50%    4.995815e+06       16.000000      0.000000      0.000000
75%    7.496452e+06       51.000000      1.000000      0.000000
max    9.999861e+06    49854.000000      1.000000      1.000000

In [30]:
duplicates = df.duplicated('userid').sum()
print(duplicates)

0

In [31]:
df.version.value_counts()

gate_40    45489
gate_30    44700
Name: version, dtype: int64

In [32]:
df.query('version == "gate_30"').describe()

             userid  sum_gamerounds   retention_1   retention_7
count  4.470000e+04    44700.000000  44700.000000  44700.000000
mean   4.987564e+06       52.456264      0.448188      0.190201
std    2.881026e+06      256.716423      0.497314      0.392464
min    1.160000e+02        0.000000      0.000000      0.000000
25%    2.505469e+06        5.000000      0.000000      0.000000
50%    4.983631e+06       17.000000      0.000000      0.000000
75%    7.481497e+06       50.000000      1.000000      0.000000
max    9.999710e+06    49854.000000      1.000000      1.000000

In [33]:
df.query('version == "gate_40"').describe()

             userid  sum_gamerounds   retention_1   retention_7
count  4.548900e+04    45489.000000  45489.000000  45489.000000
mean   5.009073e+06       51.298776      0.442283      0.182000
std    2.885496e+06      103.294416      0.496663      0.385849
min    3.770000e+02        0.000000      0.000000      0.000000
25%    2.517171e+06        5.000000      0.000000      0.000000
50%    5.007329e+06       16.000000      0.000000      0.000000
75%    7.510762e+06       52.000000      1.000000      0.000000
max    9.999861e+06     2640.000000      1.000000      1.000000

In [34]:
group_30 = df[df['version'] == 'gate_30']
group_40 = df[df['version'] == 'gate_40']
retention_1_30 = group_30['retention_1']
retention_1_40 = group_40['retention_1']
retention_7_30 = group_30['retention_7']
retention_7_40 = group_40['retention_7']
 
t_statistic_1, p_value_1 = stats.ttest_ind(retention_1_30, retention_1_40)

t_statistic_2, p_value_2 = stats.ttest_ind(retention_7_30, retention_7_40)

print("Статистика для 'retention_1:'")
print("T-statistic:", t_statistic_1)
print("P-value:", p_value_1)
print("\nСтатистика для 'retention_7:'")
print("T-statistic:", t_statistic_2)
print("P-value:", p_value_2)

Статистика для 'retention_1:'
T-statistic: 1.7840979256519656
P-value: 0.07441111525563184

Статистика для 'retention_7:'
T-statistic: 3.1644994996802778
P-value: 0.0015540151201088365

---

Для retention_1:
Значение p (0,0744) превышает уровень значимости 0,05. Таким образом, мы не можем отвергнуть нулевую гипотезу и делаем вывод, что недостаточно доказательств, чтобы предположить статистически значимую разницу между группами «gate_30» и «gate_40» для retention_1.
 
Для retention_7:
Значение p (0,0016) меньше уровня значимости 0,05. Поэтому мы отклонем нулевую гипотезу и делаем вывод о наличии статистически значимой разницы между группами «gate_30» и «gate_40» для retention_7.
 
Делаем вывод, что нет существенной разницы между группами для retention_1, но есть разница, хотя и незначительная для retention_7.

Рекомендации менеджеру:

***если для поддержания высокого показателя retention_1, retention_7 — не рекомендуется переводить контрольный уровень с 30 на уровень 40.***